#pagetitle
	Mission
.box
	#mission
		We of the Standard declare that it is our intent to perform a public service for the Academy. We find that Concord lacks the beneficent analysis of gentlemen, and we have taken it upon ourselves to provide this sorely needed analysis because we care&mdash;we care for the academy, and yet we see issues that cry for attention. We hope that you, the reader, reap the blessings of the worldly perspective that we at the Standard have been privileged to inherit. And we pray that upon reading this periodical, you gain an appreciation for the deeds of the Great Men who blazed the privileged path that students at this academy have the opportunity to take.