#pagetitle
	Mission
.box
	#mission
		We of the Standard hereby declare our intention to perform a desperately needed public service. These hallowed halls echo with the footfalls long past of merry men and women who loved and lived freely. Yet a shadow has fallen upon our once merry hall—we face the challenges of a new era. In the face of these changes, we have taken it upon ourselves to provide a gentle, prodding voice—for all those who can’t be heard, and yet care for the traditions and values of lore. We write for you, we ask only that you think back upon the legacy of the space we share, when you go about changing the face of the academy we cherish.