!!! 5
%html
	%head
		%title
			The Gentleman&rsquo;s Standard de l'Acad&eacute;mie
		%link{:rel=>'stylesheet', :href=>'/stylesheets/style.css', :type => "text/css"}
		%link{:rel=>'icon', :href=>"/favicon.png", :type => "image/png"}
	%body
		#header
			#the
				the
			#title
				Gentleman&rsquo;s Standard
			#subtitle
				de l&rsquo;Acad&eacute;mie
		#navbar
			.button
				%a{:href=>'/'}
					Home
			.button
				%a{:href=>'/one'}
					Vol. 1
			.button
				%a{:href=>'/two'}
					Vol. 2
			.button
				%a{:href=>'/three'}
					Vol. 3
		#content
			= yield
		#footer
			#copyright
				Copyright &copy; 2010, to The Gentleman&rsquo;s Standard
				&emsp;&bull;&emsp;
				All Rights Reserved