!!! 5
%html
	%head
		%title
			The Gentleman's Standard de l'Acad&eacute;mie
		%link{:rel=>'stylesheet', :href=>'/stylesheets/style.css', :type => "text/css"}
		%link{:rel=>'icon', :href=>"/favicon.png", :type => "image/png"}
	%body
		#header
			#title
				The Gentleman's Standard
			#subtitle
				de l'Acad&eacute;mie
		#content
			= yield
		#footer
			#copyright
				Copyright &copy; 2010, to The Gentleman's Standard