#pagetitle
	Volume One
.box
	%img{:src=>"/vol1/cover.png",:alt=>"cover"}
.heading
	Contents
.box
	%dl
		%dt
			Sri Lanka Tightens Proverbial Noose Around Tamil "Tiger" Forces
		%dd
			Hon. A. Urban Milona
		%dt
			Obama: Time To Impeach?
		%dd
			Baron C. Vincent Frank
		%dt
			The Art Of Relation
		%dd
			Chevalier M. Brian Labaudiniere
		%dt
			The Perfect Shave
		%dd
			Dr. M. Barnaby Gyles Pilkington
		%dt
			Words From The Reverened
		%dd
			Rev. A. James Monahan
		%dt
			Travel: Azores
		%dd
			Commander Y. Xeki Vek
		%dt
			Dress For The Occasion
		%dd
			Hon. A. Urban Milona
		%dt
.heading
	%a{:href=>"/vol1/gs.pdf"}
		Download
.box