#pagetitle
	Volume Three
.box
	%img{:src=>"/vol3/cover.png",:alt=>"cover"}
.heading
	Contents
.box
	%dl
		%dt
			An Eastern Cry
		%dd
			Alain Gautur
		%dt
			A Tale Of Adventure
		%dd
			Hon. A Urban Milona
		%dt
			A Hostile Affair
		%dd
			Dr. Vivian Fox Hotherby
		%dt
			Tibet
		%dd
			Dr. S. V. Berkeley
		%dt
			The Art Of The Duel
		%dd
			Matthew Barnaby Gyles Pilkington
.heading
	%a{:href=>"/vol3/gs.pdf"}
		Download
.box