#pagetitle
	Volume Two
.box
	%img{:src=>"/vol2/cover.png",:alt=>"cover"}
.heading
	Contents
.box
	%dl
		%dt
			A Case Study: Admiral Sir Henry Morgan
		%dd
			Elizabeth L. Herrington, of Chipping Camden by the Seaside
		%dt
			Teatime
		%dd
			Bronwyn Murray-Bozeman
		%dt
			Political Hypotheses for the Informed Gentleman: Civil Disobedience
		%dd
			S.V. Berkley
		%dt
			Lord Elgin's War
		%dd
			Dr. A. Eldon Viscount II
		%dt
			A Proposition: Proper Healtcare Reform
		%dd
			The Honourable A. Urban Milona
		%dt
			Tiger Hunt
		%dd
			Matthew Barnaby Gyles Pilkington
		%dt
			A Tale Of Adventure: A Foreign Misconception
		%dd
			Hon. A. Urban Milona
		%dt
.heading
	%a{:href=>"/vol2/gs.pdf"}
		Download
.box
